

@import url('https://fonts.googleapis.com/css?family=Spectral+SC:700');

*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html{
  font-size: 10px;
  font-family: 'Spectral SC', serif;
}

body{
  padding-top: 5rem;
}

/*==============================
          NAV BAR
===============================*/

.top-nav{
  background: navy;
  height: 4rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 2rem;
  order: 0;
}

.top-nav ul{
  display: flex;
  justify-content: space-between;
}

.top-nav li{
list-style-type: none;
}

.top-nav li a{
  display: block;
  color: white;
  text-align:center;
  text-decoration: none;
}

.top-nav li a:hover{
  background-color: pink;
}

/*====================================
      HOME PAGE
====================================*/

.title{
  background: lightblue;
  border: 1rem double white;
  height: 8rem;
  width: 100%;
}

.title h1{
  display: block;
  text-align: center;
  font-size: 4rem;
  color: pink;
}

.screen-image{
  background-image: url("../images/youngmed.jpeg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 60px);
}

.screen-image:hover{
  background-image: url("../images/oldmd.jpeg");
  background-position: center;
  transition: 1s;
  }


.row{
  color: pink;
  font-size: 4rem;
  display: flex;
}

.col-3{
  width: 33.33%;
  text-align: center;
}

@media (max-width: 700px) {
  .row{
    display: block;
  }
  .col-3{
    width: 100%;
  }
}
