

@import url('https://fonts.googleapis.com/css?family=Spectral+SC:700');

*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html{
  font-size: 10px;
  font-family: 'Spectral SC', serif;
}

body{
  padding-top: 5rem;
  color: white;

}

.top-nav{
  background: navy;
  height: 5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 2rem;
}

.top-nav ul{
  display: flex;
  list-style: none;
  width: 100%;
  padding-left: 3rem;
}

.landing{
  background-image: url("../images/youngmed.jpeg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: pink;
  text-align: center;
  font-size: 6rem;
  transition: 1s;
}

@media (max-width: 1000px) {
.landing{
  background-image: url("../images/oldsm.jpeg");
  transition: 1s;
  }
}

.row{
  color: pink;
  font-size: 3rem;
  display: flex;
}

.col-3{
  width: 33.33%;
}

@media (max-width: 700px) {
  .row{
    display: block;
  }
  .col-3{
    width: 100%;
  }
}
